{% extends 'base.html.twig' %}

{% block stylesheet %}
	<link href="{{ asset('styles/style.css') }}" rel="stylesheet">
{% endblock %}

{% block javascript %}{% endblock %}

{% block body %}
 <!--footer-->
    <section class="footer">
        <div class="container-fluid">
            <footer class="py-2">
                <div class="row">
                    <div class="col-3">
                        <h6>Tienda</h6>
                        <ul class="nav flex-column">
                            <li class="nav-item dropdown mb-2"><a class="nav-link dropdown-toggle p-0" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Productos por escala</a>
                                <ul class="dropdown-menu">
							    {% for escala in escalas %}
								    <li>
									    <a class="dropdown-item" href="{{ path('seleccion_escala', { id: escala.id }) }}">{{ escala.nombreescala }}</a>
								    </li>
							        {% endfor %}
						        </ul>
                            </li>
                            <li class="nav-item mb-2"><a class="nav-link dropdown-toggle p-0" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Productos por equipo</a>
                                <ul class="dropdown-menu">
							    {% for equipo in equipos %}
								    <li>
									    <a class="dropdown-item" href="{{ path('seleccion_equipo', { id: equipo.id }) }}">{{ equipo.nombreequipo }}</a>
								    </li>
							    {% endfor %}
                                </ul>
                            </li>
                            <li class="nav-item mb-2"><a class="nav-link dropdown-toggle p-0" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Productos por fabricante</a>
                            	<ul class="dropdown-menu">
                                {% for fabricante in fabricantes %}
								    <li>
									    <a class="dropdown-item" href="{{ path('seleccion_fabricante', { id: fabricante.id }) }}">{{ fabricante.nombre }}</a>
								    </li>
							    {% endfor %}
                                </ul>
                            </li>
                        </ul>
                    </div>

                    <div class="col-3">
                        <h6>Sobre la web</h6>
                        <ul class="nav flex-column">
                            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 ">¿Quienes somos?</a></li>
                            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 ">Contacto</a></li>
                            <li class="nav-item mb-2"><a href="{{ path('app_webmap')}}" class="nav-link p-0 ">Mapa web</a></li>
                            <li class="nav-item mb-2"><a href="{{ path('app_accessibility')}}" class="nav-link p-0 ">Documento de accesibilidad</a>
                            </li>
                        </ul>
                    </div>

                    <div class="col-6 suscripcion">
                        <form>
                            <h6>Subscribete a nuestro newsletter</h6>
                            <p>Recibirás noticias mensuales</p>
                            <div class="d-flex w-100 gap-2">
                                <label for="newsletter1" class="visually-hidden">Dirección email</label>
                                <input id="newsletter1" type="text" class="form-control"
                                    placeholder="Dirección de correo">
                                <button class="btn" type="button">Subscribirse</button>
                            </div>
                        </form>
                    </div>
                </div>

                <div class="d-flex justify-content-between py-4 my-4 border-top">
                    <p>&copy; 2024 Hugo López All rights reserved.</p>
                    <ul class="list-unstyled d-flex">
                        <li class="ms-3"><a class="link-dark" href="#"><i class="bi bi-twitter-x"></i></a></li>
                        <li class="ms-3"><a class="link-dark" href="#"><i class="bi bi-instagram"></i></a></li>
                        <li class="ms-3"><a class="link-dark" href="#"><i class="bi bi-tiktok"></i></a></li>
                    </ul>
                </div>
            </footer>
        </div>
    </section>
{% endblock %}