{% extends 'base.html.twig' %}

{% block stylesheet %}
	<link href="{{ asset('styles/style.css') }}" rel="stylesheet">
{% endblock %}

{% block javascript %}{% endblock %}

{% block body %}
	<!--Barra de navegación 1-->
	<nav class="menu1 navbar navbar-expand-md bg-body-tertiary" aria-label="">
		<div class="container-fluid">
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav ms-auto mb-2 mb-lg-0">
					<div class="vr"></div>
					<li class="nav-item">
						<div class="dropdown">
							<button class="botonCuenta btn btn-dark dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
								<i class="bi bi-person-fill">
									<span>
										{% if app.user %}
											{{ app.user.userIdentifier }}
										{% else %}
											Cuenta
										{% endif %}
									</span>
								</i>
							</button>
							<ul class="dropdown-menu">
								{% if app.user %}
									<li>
										<a class="dropdown-item" href="{{path('app_logout')}}">Cerrar sesión</a>
									</li>
									<li>
										<a class="dropdown-item" href="{{path('usuario_vista_pedidos')}}">Ver pedidos realizados</a>
									</li>
								{% else %}
									<li>
										<a class="dropdown-item" href="{{ path('app_login')}}">Iniciar sesión</a>
									</li>
									<li>
										<a class="dropdown-item" href="{{ path('app_register')}}">Registrarse</a>
									</li>
								{% endif %}
							</ul>
						</div>
					</li>
					<div class="vr"></div>
					<li class="nav-item">
						<a href="{{ path('acceder_lista_deseos')}}" class="deseos">
							<i class="bi bi-heart-fill"></i>
						</a>
					</li>
					<li class="nav-item">
						<a href="{{ path('mostrar_carrito')}}" class="carrito">
							<i class="bi bi-bag"></i>
						</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>

	<!--Barra de navegación 2-->
	<nav class="menu2 navbar navbar-expand-md" aria-label="">
		<div class="container-fluid">
			<a href="{{ path('app_home')}}"><img class="logo" src="{{ asset('images/nav/Logo.png') }}" alt="Logo de la web"></a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav d-flex justify-content-center align-items-center">
					<li class="oculto nav-item">
						<button class="btn btn-dark" type="button" aria-expanded="false">
							<i class="bi bi-person-fill">
								<span>
									Iniciar sesión
								</span>
							</i>
						</button>
					</li>
					{% for tema in temas %}
					<li class="nav-item">
						<a class="nav-link" href="#" role="button">
							{{ tema.nombre }}
						</a>
					</li>
					{% endfor %}
				</ul>
				<form class="d-flex" action="{{ path('busqueda_producto')}}" method="post">
					<input class="form-control me-2" name="busqueda" type="search" placeholder="Buscar producto" aria-label="Search">
					<button class="btn" type="submit"><i class="lupa bi bi-search"></i></button>
				</form>
			</div>
		</div>
	</nav>
{% endblock %}