{% extends 'base.html.twig' %}

{% block stylesheet %}
	<link href="{{ asset('styles/productStyle.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}
{% include '/compartido/nav.html.twig' with {'escalas': escalas, 'equipos': equipos, 'fabricantes': fabricantes} %}

<div class="d-flex align-items-center justify-content-center">
	<h1 class="titulo mt-4">{{ producto.nombreproducto }}</h1>
</div>
<section id="producto" class="producto d-flex align-items-center">
	<div class="contenedor container-fluid">
		<div class="row">
			<div class="col-12 col-md-6 col-xl-7">
				<div class="d-flex justify-content-center">
					<div class="col-12 col-xl-9">
						<div id="carousel1" class="carousel slide">
							<div class="carousel-indicators">
								<button type="button" data-bs-target="#carousel1" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
								<button type="button" data-bs-target="#carousel1" data-bs-slide-to="1" aria-label="Slide 2"></button>
								<button type="button" data-bs-target="#carousel1" data-bs-slide-to="2" aria-label="Slide 3"></button>
							</div>
							<div class="carousel-inner">
								{% if imagenes %}
									{% for imagen in imagenes %}
										<div class="carousel-item active">
											<div class="container">
												<img src="{{ asset('images/' ~ imagen.urlimagen) }}" class="sliderImagenCatalogo" alt="Foto principal">
											</div>
										</div>
									{% endfor %}
								{% endif %}
							</div>
							<button class="carousel-control-prev" type="button" data-bs-target="#carousel1" data-bs-slide="prev">
								<i class="bi bi-arrow-left-square-fill"></i>
								<span class="visually-hidden">Previous</span>
							</button>
							<button class="carousel-control-next" type="button" data-bs-target="#carousel1" data-bs-slide="next">
								<i class="bi bi-arrow-right-square-fill"></i>
								<span class="visually-hidden">Next</span>
							</button>
						</div>
					</div>
				</div>
			</div>
			<div class="col-12 col-md-6 col-xl-5">
				<div class="descripcion d-flex justify-content-center">
					<div class="info">
						<label>Escala</label>
						<p>
							{{ escala.nombreescala }}
						</p>

						<label>Fabricante</label>
						<p>
							{{ fabricante.nombre }}
						</p>

						<label>Equipo</label>
						<p>
							{{ equipo.nombreequipo }}
						</p>

						<div>
							<h3>Precio:<span> {{ producto.precio }}€</span></h3>
							<h6>{{ producto.stock }} unidades en stock</h6>
							<div id="stock" data-stock="{{ producto.stock }}">
								<div id="stock-message"></div>
							</div>
							<form action="{{ path('agregar_producto_al_carrito', { idProducto: producto.id }) }}" method="post">
								<div class="modal fade" id="modalCantidad" tabindex="-1" aria-labelledby="labelModalCantidad" aria-hidden="true">
									<div class="modal-dialog">
										<div class="modal-content">
											<div class="modal-header">
												<h1 class="modal-title fs-5" id="labelModalCantidad">Elige cuantas unidades quieres</h1>
												<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
											</div>
											<div class="modal-body d-flex align-items-center justify-content-center">
												<select name="cantidad">
													<option value="1" selected>1</option>
													<option value="2">2</option>
													<option value="3">3</option>
												</select>
											</div>
											<div class="modal-footer">
												<button type="button" class="btn" data-bs-dismiss="modal">Cerrar</button>
												<button type="submit" class="btn">Aceptar</button>
											</div>
										</div>
									</div>
								</div>
							</br>
							<div class="row">
								<div class="col-12">
									<button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#modalCantidad">
										<i class="bi bi-bag"></i>Añadir al carro
									</button>
								</div>
							</div>
						</form>
						<div class="row">
												<div class="col-12">
									<a href="{{ path('agregar_producto_a_lista_deseos', { idProducto: producto.id }) }}">
										<button class="btn btn2">
											<i class="bi bi-heart-fill"></i>Añadir a deseos</button>
									</a>
								</div>
						</div>
				{% if app.user %}
				<div class="mt-5">
                    <h4>Valorar producto</h4>
                    <form class="valoracionForm" action="{{ path('valoracion_producto', { idProducto: producto.id }) }}" method = "post">
                        <h6>Seleccione que valoración numérica le da al producto:</h6>
                        <select name="valoracionNumerica">
                            <option value=1 selected>1</option>
                            <option value=2>2</option>
                            <option value=3>3</option>
                            <option value=4>4</option>
                            <option value=5>5</option>
                        </select>
						</br>
                        <label for="comentario" class="form-label mt-2">Comentario:</label>
                        <input type="text" name="comentario" id="comentario" class="form-control mt-2"></input>
                    	<button class="btn mt-2" type="submit">Valorar producto</button>
                    </form>
				</div>
                {% endif %}
			</div>
		</div>
	</div>
</div>
</div>
</section>
<section class="valoraciones d-flex align-items-start" id="estrellas">
    <h3 class="titulo">Valoraciones</h3>
    </br>
    {% if valoraciones is empty %}
    <p>Todavía no existen valoraciones</p>
    {% else %}
    {% for valoracion in valoraciones %}
    <p>{{valoracion.nombreUsuario}}-{{valoracion.valoracionNumerica}}/5</p>
	<div>
        <estrellas-valoracion :rating="{{ valoracion.valoracionNumerica }}"></estrellas-valoracion>
    </div>
	<p>{{valoracion.comentario}}</p>
    {% endfor %}
    {% endif %} 
</section> 
{% include '/compartido/footer.html.twig' %}{% endblock %}
